In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('iplstats2008.csv')

In [3]:
srw='iplstats2010.csv'
file_name_list=['iplstats'+str(i)+'.csv' for i in range(2008,2025)]
print(file_name_list)

['iplstats2008.csv', 'iplstats2009.csv', 'iplstats2010.csv', 'iplstats2011.csv', 'iplstats2012.csv', 'iplstats2013.csv', 'iplstats2014.csv', 'iplstats2015.csv', 'iplstats2016.csv', 'iplstats2017.csv', 'iplstats2018.csv', 'iplstats2019.csv', 'iplstats2020.csv', 'iplstats2021.csv', 'iplstats2022.csv', 'iplstats2023.csv', 'iplstats2024.csv']

In [4]:
for i in file_name_list[1:]:
    pf=pd.read_csv(i)
    df=pd.concat([df,pf],axis=0)

In [5]:
df

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S,Year
0,1,Shaun Marsh\nPBKS,616,11,11,2,115,68.44,441,139.68,1,5,59,26,2008
1,2,Gautam Gambhir\nDC,534,14,14,1,86,41.07,379,140.89,0,5,68,8,2008
2,3,Sanath Jayasuriya\nMI,518,14,14,2,114*,43.16,309,167.63,1,2,58,31,2008
3,4,Shane Watson\nRR,472,15,15,5,76*,47.2,311,151.76,0,4,47,19,2008
4,5,Graeme Smith\nRR,441,11,11,2,91,49.0,362,121.82,0,3,54,8,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,163,Lizaad Williams\nDC,1,2,1,1,1*,-,2,50.00,0,0,0,0,2024
163,164,Keshav Maharaj\nRR,1,2,1,0,1,1.00,2,50.00,0,0,0,0,2024
164,165,Manav Suthar\nGT,1,1,1,0,1,1.00,2,50.00,0,0,0,0,2024
165,166,Vyshak Vijaykumar\nRCB,1,4,2,1,1*,1.00,3,33.33,0,0,0,0,2024
166,167,Ishant Sharma\nDC,1,9,2,2,1*,-,7,14.28,0,0,0,0,2024

In [6]:
df['TEAM']=df['PLAYER'].str.split("\n").str[1]

In [7]:
df

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S,Year,TEAM
0,1,Shaun Marsh\nPBKS,616,11,11,2,115,68.44,441,139.68,1,5,59,26,2008,PBKS
1,2,Gautam Gambhir\nDC,534,14,14,1,86,41.07,379,140.89,0,5,68,8,2008,DC
2,3,Sanath Jayasuriya\nMI,518,14,14,2,114*,43.16,309,167.63,1,2,58,31,2008,MI
3,4,Shane Watson\nRR,472,15,15,5,76*,47.2,311,151.76,0,4,47,19,2008,RR
4,5,Graeme Smith\nRR,441,11,11,2,91,49.0,362,121.82,0,3,54,8,2008,RR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,163,Lizaad Williams\nDC,1,2,1,1,1*,-,2,50.00,0,0,0,0,2024,DC
163,164,Keshav Maharaj\nRR,1,2,1,0,1,1.00,2,50.00,0,0,0,0,2024,RR
164,165,Manav Suthar\nGT,1,1,1,0,1,1.00,2,50.00,0,0,0,0,2024,GT
165,166,Vyshak Vijaykumar\nRCB,1,4,2,1,1*,1.00,3,33.33,0,0,0,0,2024,RCB
166,167,Ishant Sharma\nDC,1,9,2,2,1*,-,7,14.28,0,0,0,0,2024,DC

In [8]:
df['PLAYER']=df['PLAYER'].str.split("\n").str[0]

In [9]:
df

,POS,PLAYER,RUNS,MAT,INNS,NO,HS,AVG,BF,SR,100,50,4S,6S,Year,TEAM
0,1,Shaun Marsh,616,11,11,2,115,68.44,441,139.68,1,5,59,26,2008,PBKS
1,2,Gautam Gambhir,534,14,14,1,86,41.07,379,140.89,0,5,68,8,2008,DC
2,3,Sanath Jayasuriya,518,14,14,2,114*,43.16,309,167.63,1,2,58,31,2008,MI
3,4,Shane Watson,472,15,15,5,76*,47.2,311,151.76,0,4,47,19,2008,RR
4,5,Graeme Smith,441,11,11,2,91,49.0,362,121.82,0,3,54,8,2008,RR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,163,Lizaad Williams,1,2,1,1,1*,-,2,50.00,0,0,0,0,2024,DC
163,164,Keshav Maharaj,1,2,1,0,1,1.00,2,50.00,0,0,0,0,2024,RR
164,165,Manav Suthar,1,1,1,0,1,1.00,2,50.00,0,0,0,0,2024,GT
165,166,Vyshak Vijaykumar,1,4,2,1,1*,1.00,3,33.33,0,0,0,0,2024,RCB
166,167,Ishant Sharma,1,9,2,2,1*,-,7,14.28,0,0,0,0,2024,DC

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2508 entries, 0 to 166
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   POS     2508 non-null   int64
 1   PLAYER  2508 non-null   object
 2   RUNS    2508 non-null   int64
 3   MAT     2508 non-null   int64
 4   INNS    2508 non-null   int64
 5   NO      2508 non-null   int64
 6   HS      2508 non-null   object
 7   AVG     2508 non-null   object
 8   BF      2508 non-null   int64
 9   SR      2508 non-null   float64
 10  100     2508 non-null   int64
 11  50      2508 non-null   int64
 12  4S      2508 non-null   int64
 13  6S      2508 non-null   int64
 14  Year    2508 non-null   int64
 15  TEAM    2508 non-null   object
dtypes: float64(1), int64(11), object(4)
memory usage: 333.1+ KB

In [11]:
df.to_csv('cleaned_ipl_player_all_year_stats.csv',index=False,header=True)